@model WebSite.ViewModels.Cars.CarInfoViewModel

@{
    ViewBag.Title = "CarInfo";
}
<div class="chart-container">
    @Html.HiddenFor(m => m.ID, new { @id = "car-id" })
</div>

<br/>

<h2>@Model.UserCar.CarNumber Information</h2>
<div class="row">
    <div class="row">
        <div class="col-md-4">
            <strong>From</strong>
            <div class="input-group date" id="datetimepicker1">
                <input type="text" id="dateFrom" name="dateFrom" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <strong>To</strong>
            <div class="input-group date" id="datetimepicker2">
                <input type="text" id="dateTo" name="dateTo" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" id="date-submit-button">Submit</button>
        </div>
    </div>
</div>
<br />

<br />
<br />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#sectionA">Speed Chart</a></li>
    <li><a data-toggle="tab" href="#sectionB">Millage Chart</a></li>
    <li><a data-toggle="tab" href="#sectionD">Throttle Chart</a></li>
    <li><a data-toggle="tab" href="#sectionE">Fuel Tank Chart</a></li>
    <li><a data-toggle="tab" href="#sectionF">Average Speed</a></li>
    <li><a data-toggle="tab" href="#sectionG">Average Fuel Consumption</a></li>
    <li><a data-toggle="tab" href="#sectionH">Trouble Codes</a></li>
</ul>
<div class="tab-content">
    <div id="sectionA" class="tab-pane fade in active">
        <div class="row">
            <div class="col-md-12">
                @Model.SpeedChart
            </div>
        </div>
    </div>
    <div id="sectionB" class="tab-pane fade">
        <div class="row">
            <div class="col-md-12">
                @Model.MillageChart
            </div>
        </div>
    </div>
    <div id="sectionD" class="tab-pane fade">
        <div class="row">
            <div class="col-md-12">
                @Model.ThrotleChart
            </div>
        </div>
    </div>
    <div id="sectionE" class="tab-pane fade">
        <div class="row">
            <div class="col-md-12">
                @Model.FuelChart
            </div>
        </div>
    </div>
    <div id="sectionF" class="tab-pane fade">
        <div class="row">
            <div class="col-md-6">
                @Model.AverageSpeedPerPeriod
            </div>
            <div class="col-md-6">
                @Model.AverageSpeedPerAllTime
            </div>
        </div>
    </div>
    <div id="sectionG" class="tab-pane fade">
        <div class="row">
            <div class="col-md-6">
                @Model.AverageFuelCompsuntionPerSelectedPeriod
            </div>
            <div class="col-md-6">
                @Model.AverageFuelCompsuntionPerAllTime
            </div>
        </div>
    </div>
    <div id="sectionH" class="tab-pane fade">
        <div class="row">
            <div class="col-md-6">
                <h2>Current Car Errors</h2>
                <ul>
                    @foreach (var code in @Model.UserCar.TroubleCodes)
            {
                        <li> @code.DTCNumber - @code.Description</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('#dateFrom').datetimepicker();
    jQuery('#dateTo').datetimepicker();

    $(document).on('click', '#date-submit-button', function () {

        var id = $("#car-id").val();
        var dateFrom = $("#dateFrom").val();
        var dateTo = $("#dateTo").val();

        window.location.href = '/Cars/CarInfo?id=' + id + '&dateFrom=' + dateFrom + '&dateTo=' + dateTo;
    })
</script>
