@model WebSite.ViewModels.Locations.MapViewViewModel
    @*@model IEnumerable<WebSite.ViewModels.Locations.LocationViewModel>*@

    @using WebSite.Core.Helpers

    @{
        ViewBag.Title = "Map";
    }

    @{var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();}

    <h2>Map</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.Label("Refresh interval")
                        @Html.DropDownList("seconds", new SelectList(DropDownHelper.SecondsIntervarList(), "value", "text"), new { @id = "seconds-interval" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.Label("Select Car")
                        @Html.DropDownList("seconds", new SelectList(DropDownHelper.SecondsIntervarList(), "value", "text"), new { @id = "seconds-interval" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.Label("Select Car")
                        @Html.DropDownList("seconds", new SelectList(DropDownHelper.SecondsIntervarList(), "value", "text"), new { @id = "seconds-interval" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="map"></div>
        </div>
    </div>
    <form id="form">
        <div class="row">
            <div class="col-lg-3">
                <div class="cornsilk-wrap">
                    <div class="row">
                        <div class="col-md-10">
                            <strong>Current Location</strong>
                        </div>
                        <div class="col-md-2">
                            <input id="current-location" class="radio" value="current-location" name="map-check" type="radio" checked />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <strong>Trace</strong><br />
                        </div>
                        <div class="col-md-2">
                            <input id="trace" class="radio" value="trace" name="map-check" type="radio" />
                        </div>
                    </div>
                </div>
                <div class="cornsilk-wrap">
                    <div class="row">
                        <div class='col-sm-12'>
                            <div class="form-group date-wrap">
                                <div class="row">
                                    <div class="col-md-2">
                                        <strong>From</strong>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" id="dateFrom" name="dateFrom" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <strong>To</strong>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group date" id="datetimepicker2">
                                            <input type="text" id="dateTo" name="dateTo" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <button class="btn btn-sm" id="trace-submit" type="button" value="Submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">

        $(function () {

            jQuery('#dateFrom').datetimepicker();
            jQuery('#dateTo').datetimepicker();

            var timer;

            setCurentLocation();

            var locationArray = [ @foreach (var locationPoint in Model.LocationModel)
            {
                @Html.Raw(" L.latLng(" + locationPoint.Latitude + ", " + locationPoint.Longitude + " ),")
            }
            ];

            $("input:radio").on('change', function (e) {
                if ($("input:radio:checked").val() == 'trace')
                    setTrace();

                if ($("input:radio:checked").val() == 'current-location')
                    setCurentLocation();
            });

            var map = L.map('map');

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            var routeControl = L.Routing.control({
                waypoints: locationArray
            }).addTo(map);

            $(document).on('click', '#trace-submit', function () {

                loadTraceDate();

            });

            $('#seconds-interval').on('change', function () {

                clearInterval(timer);

                setCurentLocation();

            });

            function loadTraceDate() {
                $.ajax({
                    url: '/Location/TraceDateInterval',
                    type: 'POST',
                    data:
                    {
                        dateFrom: $('#dateFrom').val(),
                        dateTo: $('#dateTo').val()
                    },
                    success: function (data) {
                        if (data.success == true) {
                            locationArray = [];

                            data.locations.forEach(function (item) {
                                locationArray.push(L.latLng(item.Latitude, item.Longitude));
                            });

                            routeControl.setWaypoints(locationArray);

                        } else {

                        }
                    }
                });
            }

            function loadCurrentLocation() {
                $.ajax({
                    url: '/Location/CurrentLocationDate',
                    type: 'GET',
                    success: function (data) {
                        if (data.success == true) {

                            routeControl.setWaypoints(L.latLng(data.latitude, data.longitude));

                        } else {

                        }
                    }
                });
            };

            function setCurentLocation() {

                $('.date-wrap').attr('hidden', true);

                timer = setInterval(function () {
                    loadCurrentLocation();
                }, $('#seconds-interval').val());
            }

            function setTrace() {

                clearInterval(timer);

                $('.date-wrap').removeAttr('hidden');

                loadTraceDate();
            }

        });
    </script>
